@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-font: 'Space Mono', monospace;

    --Strong-cyan: hsl(172, 67%, 45%);
    --Very-dark-cyan: hsl(183, 100%, 15%);
    --Dark-grayish-cyan: hsl(186, 14%, 43%);
    --Grayish-cyan: hsl(184, 14%, 56%);
    --Light-grayish-cyan: hsl(185, 41%, 84%);
    --Very-light-grayish-cyan: hsl(189, 41%, 97%);
    --font-fold: 700;
}

*{
    font-size: 24px;
    font-family: var(--primary-font);
}

body {
    background-color: var(--Light-grayish-cyan);
}

input {
    all:unset;
}

.input_bill::before {
    content: '';
    width: 2rem;
    height: 2rem;
    display: block;
    background: url(./images/icon-dollar.svg);
    
}

.text_calculate {
    font-size: large;
    color: var(--Grayish-cyan);
}